<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AngularJS Form</title>

    <!-- Bootstrap dependency from bower_components/ -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="RegistrationForm">

    <main role="main">
        <!-- Jumbotron Header -->
        <div class="jumbotron">
            <div class="container text-center">
                <h1 class="display-3">Registration Form</h1>
                <p class="text-primary">
                    Please enter the requested details below to register for our services.
                </p>
            </div>
        </div>
        <div class="container">
            <form name="registration" ng-controller="FormController" novalidate>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-4">
                        <input
                            type="text"
                            name="name"
                            class="form-control"
                            placeholder="Enter your name"
                            ng-model="name"
                            required
                        >
                    </div>
                    <div role="alert">
                        <span class="text-danger" ng-show="registration.name.$error.required">
                            A name is required.
                        </span>
                        <span class="text-success" ng-show="registration.name.$valid">
                            Why hello there, {{ name }}!
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email address</label>
                    <div class="col-sm-4">
                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            placeholder="Enter an email address"
                            ng-model="email"
                            required
                        >
                    </div>
                    <div role="alert">
                        <span class="text-danger" ng-show="registration.email.$error.required">
                            An email is required.
                        </span>
                        <span class="text-danger" ng-show="registration.email.$error.email">
                            Please provide a valid email.
                        </span>
                        <span class="text-success" ng-show="registration.email.$valid">
                            You've entered a valid email!
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-4">
                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            placeholder="Enter a password"
                            ng-model="password"
                            ng-minlength="8"
                            ng-maxlength="32"
                            required
                        >
                    </div>
                    <div role="alert">
                        <span class="text-danger" ng-show="registration.password.$error.required">
                            A password is required.
                        </span>
                        <span class="text-danger" ng-show="registration.password.$error.minlength">
                            Your password must be at least 8 characters in length.
                        </span>
                        <span class="text-danger" ng-show="registration.password.$error.maxlength">
                            Your password must be at most 32 characters in length.
                        </span>
                        <span class="text-success" ng-show="registration.password.$valid">
                            Your password meets our rule requirements!
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone" class="col-sm-2 col-form-label">Phone number</label>
                    <div class="col-sm-4">
                        <input
                            type="tel"
                            name="phone"
                            class="form-control"
                            placeholder="Enter a phone number"
                            ng-model="phone"
                            ng-pattern="/^\(?\d{1}?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{4})$/"
                            required
                        >
                    </div>
                    <div role="alert">
                        <span class="text-danger" ng-show="registration.phone.$error.required">
                            A phone number is required.
                        </span>
                        <span class="text-danger" ng-show="registration.phone.$error.pattern">
                            Please enter a valid phone number.
                        </span>
                        <span class="text-success" ng-show="registration.phone.$valid">
                            You've entered a valid phone number!
                        </span>
                    </div>
                </div>
                <div modal="showModal" class="modal" close="cancel()">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header"><h4>Your registration is complete!</h4></div>
                            <div class="modal-body">
                                <p>
                                    Thanks for registering with us, <span class="text-primary">{{ name }}</span>! Please check your email
                                    for a verification link. Thanks!
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" ng-click="ok()">Okay</button>
                                <button class="btn" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-success" ng-disabled="registration.$invalid" ng-click="submit()">Register</button>
                        <button type="reset" class="btn btn-danger" ng-click="reset(registration)">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <!-- AngularJS dependency from bower_components/ -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <!-- jQuery/Bootstrap dependencies from bower_components/ -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Other dependencies -->
    <script src="js/angular-ui-bootstrap-modal.js"></script>
    <script src="js/RegistrationForm.js"></script>
</body>
</html>